:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;

  /* 
  --background-color: rgba(255, 255, 255);
  --form-bg: #212228;
  --color: rgba(15, 14, 14, 0.857);
  --spinner-color: #222;
  --background-image: linear-gradient(#484a5318 0.1em, transparent 0.1em),
    linear-gradient(90deg, #484a5318 0.1em, transparent 0.1em); */

  --spinner-animation-speed: 1s;
  --spinner-color: #fff;
  --background-color: rgba(33, 34, 40);
  --spinner-color: #eee;
  --form-bg: #fff;
  --color: rgba(255, 255, 255, 0.87);
  --background-image: linear-gradient(#303136 0.1em, transparent 0.1em),
    linear-gradient(90deg, #303136 0.1em, transparent 0.1em);
}

[data-theme="dark"] {
}

body {
  padding: 0;
  margin: 0;
  color: var(--color);
  box-sizing: border-box;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: 3em 3em;
}

input {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

#app {
  height: 100vh;
  position: relative; /* so the notes can be positioned absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.icon {
  width: 2.5rem;
  position: absolute;
  z-index: 99;

  cursor: pointer;

  img {
    width: 100%;
  }

  img:hover {
    transform: scale(1.07);
  }
}

.theme-icon {
  right: 20px;
  top: 20px;
}
.logout-icon {
  right: 20px;
  bottom: 60px;
}

.profile-icon {
  right: 20px;
  top: 60px;
}

.logout-icon,
.profile-icon {
  svg {
    width: 40px;
    height: 40px;
    stroke-width: 1.5;
    color: var(--color);
  }

  svg:hover {
    transform: scale(1.07);
  }
}

.logout-icon::after,
.profile-icon::after {
  visibility: hidden;
  opacity: 0;
  width: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  bottom: 120%; /* Position above the icon */
  right: 50%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  font-size: 0.9rem;
  white-space: nowrap;
  z-index: 10;
}

.profile-icon::after {
  content: "User Profile"; /* The tooltip text */
}
.logout-icon::after {
  content: "Logout"; /* The tooltip text */
}

/* Show the tooltip on hover */
.logout-icon:hover::after,
.profile-icon:hover::after {
  visibility: visible;
  opacity: 1;
}

.spinner--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  stroke: var(--spinner-color);
  stroke-width: 1.5;
  animation: spin var(--spinner-animation-speed) infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
 the max scroll is set to the height of the actual content
 we need to make this text area hight updated when typing

*/

/* board */

.board-container {
  width: 80rem;
  height: 40rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid rgba(230, 230, 230, 0.48); */

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #eee; */
    color: #000;
    border-radius: 4px;

    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    .board-filter {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      gap: 2rem;

      input,
      select {
        width: 100%;
        padding: 0.8em 1.2em;
        border-radius: 3px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      input:focus {
        outline: 1px solid #aaa;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--color);
  }

  .board-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    height: 100%;
    border-radius: 4px;
    overflow-y: hidden;
  }
}

/* task list */

.task-list {
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;

  .task-list-header {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .task-list-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #eee;
  }

  .task-item {
    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    background-color: #fffdfd;
    color: #000;

    .task-header {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      /* background-color: #aaa; */
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      .title {
        font-size: large;
        font-weight: bold;
        margin-bottom: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icons {
          display: flex;
          align-items: center;
          gap: 15px;

          svg {
            cursor: pointer;
          }
        }
      }

      .priority-container {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 10px;

        select {
          width: 60%;
          padding: 0.4em 1.2em;
          border-radius: 3px;
          outline: none;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
      }
    }

    .task-content {
    }
  }
}

/* delete confirm modal */
.confirm-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0.8rem;
  left: 2.4rem;
  background-color: rgba(0, 0, 0, 0.908);
  width: 270px;
  height: 130px;
  border-radius: 5px;
  cursor: auto;

  p {
    color: #fff;
  }

  button {
    width: 4.2rem;
    height: 30px;
    border-radius: 5px;
    background-color: #6f94ec;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0.6rem;
  }

  button:hover {
    background-color: #5382ee;
  }

  .delete:hover {
    background-color: #f44336;
  }

  .delete {
    background-color: #f44336;
    cursor: not-allowed;
  }
}
